app = "REPLACE_ME"
primary_region = "sjc"

[build]
  dockerfile = "datasette/Dockerfile"
  dockerignore = "datasette/.dockerignore"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
